.page{
    height: 2200px;
}
#navbar{
    background-color: black;
    display: flex;
}
.sign_in,.sign_up{
    color: white;
    background-color: black;
}
.about_us{
    margin-top: 60px;
    color: white;
    margin-left: 990px;
    text-decoration: none;
    background-color: black;
}
.sign_in{
    margin-top: 59px;
    margin-left: 60px;
    text-decoration: none;
}
.sign_up{
    margin-top: 58px;
    margin-left: 60px;
    text-decoration: none;
}
.profile{
    margin-left: 60px;
    margin-top: 10px;
    background-color: black;
}
.video{
    z-index: 1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(30, 18, 18);
 }
 